@using lab13.Models
@model QuestionViewModel

﻿@{
    Layout = null;
}

<div class="questionContainer">

    <form method="post" id="quizForm" asp-action="QuestionProcess">
        <div class="questionContainer_question">

            @{
                string mathSignName = Model.MathSignName;
                string mathSign = "";

                switch (mathSignName)
                {
                    case "add":
                        mathSign = "+";
                        break;

                    case "sub":
                        mathSign = "-";
                        break;

                    case "mult":
                        mathSign = "*";
                        break;

                    case "div":
                        mathSign = "/";
                        break;
                }
            }

            <h1 class="question_value">@Model.FirstValue @mathSign @Model.SecondValue = </h1>                  

            <div class="input-wrapper">
                <input class="question_answerInput" type="number" name="UserAnswer" />
            </div>

            <input hidden name="FirstValue" value="@Model.FirstValue" />
            <input hidden name="SecondValue" value="@Model.SecondValue" />
            <input hidden name="MathSignName" value="@Model.MathSignName" />
            <input hidden name="MathSignName" value="@Model.MathSignName" />
            <input hidden id="btnPressed" name="BtnPressed" />
        </div>
@*         <div class="questionContainer_buttonsContainer">
            <a class="buttonsContainer_button" id="nextBtn">Next</a>
            <a class="buttonsContainer_button" id="finishBtn">Finish</a>
        </div> *@
    </form>

</div>
